
/* TEXTOS Y TIPOGRAFIA */

h1{
    font-size: 10vh !important;
    font-family: 'Bebas Neue', cursive;
    color: rgb(238, 228, 177);
    margin: 0% !important;
    margin-left: 20px !important;
}

h2, h3, h4, h5{
    color: rgb(219, 211, 168);
    font-family: 'Roboto', sans-serif;
}

h6{
    color: rgb(196, 188, 152);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

p{
    color: rgb(158, 151, 151);
    font-family: 'Roboto', sans-serif;

}



/* CUERPO DE PAGINAS GENERAL*/

body {
    margin: 0%;
    padding: 0%;
    background: rgb(46,16,42);
    background: radial-gradient(circle, rgba(46,16,42,1) 0%, rgba(16,15,17,1) 100%);
}

.header{
    background-image: url(https://wallpaperaccess.com/full/2801183.jpg);
    width: 100%;
    height: 100vh;
    text-align: right;
    position: relative;
}

.header__home--modifier{
    text-align: center;
    margin-top: 25vh;
    padding: 0 10vw 0 10vw;
}

.header__home{
    text-align: center;
    margin-top: 25vh;
}

header{
    background-image: url(https://wallpaperaccess.com/full/2801183.jpg);
    width: 100%;
    height: 45vh;
    text-align: right;
    position: relative;
}

nav{
    background-color: rgb(26, 13, 24);
    width: 100%;
    height: 15vh;
}

.container-fluid{
    width: 100%;
    padding: 10px;
    background-color: #212529;
}

#encabezado{
    text-align: center;
    margin-top: 15vh;
    padding: 0 10vw 0 10vw;
}

section, .footer{
    text-align: center;
    padding: 10px 20px;
}

.indice{
    width: 100%;
}

.informacion{
    display: flex;
    text-align: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.juego{
    display: grid;
    grid-template-rows: .1fr .1fr .1fr;
}


.footer__link:link, .footer__link:visited{
    color: rgb(191, 150, 211);
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-decoration: none;

}


@media only screen and (max-width: 992px) {
    h6{
        color: rgb(196, 188, 152);
        font-size: 3vw;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
    }

}



/* SECCIONES DE PAGINA */

.indice__link:link, .indice__link:visited{
    font-family: 'Bebas Neue', cursive;
    color: rgb(238, 228, 177);
    font-size: 17px;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.informacion__article, .juego__article{
    padding: 15px 30px;
}

th, .lista__uno{
    color: rgb(196, 188, 152);
}

td, .lista__dos{
    color: rgb(191, 150, 211);
}

.libros__img{
    width: 170px;
    padding: 10px 0px;

}

li, ul{
    list-style: none;
    padding: 0%;
}

section div{
    padding: 15px 20px;
    text-align: center;
    width: 100%;
}


