// VARIABLES //

$colorTitulo:rgb(238, 228, 177);
$colorListaUno: rgb(196, 188, 152);
$colorListaDos: rgb(191, 150, 211);
$fuenteTitulo: 'Bebas Neue', cursive;
$fuenteTexto:'Roboto', sans-serif;
$paddingArticle: 25px 120px;

// MIXIN //

@mixin estiloTabla ($colorLetra){
    font-size: 15px;
    color: $colorLetra;
    
}

// TEXTOS Y TIPOGRAFIA //

h1{
    font-size: 10vh !important;
    font-family: $fuenteTitulo;
    color: $colorTitulo;
    margin: 0% !important;
    margin-left: 20px !important;
}

h2, h3, h4, h5{
    color: $colorTitulo;
    font-family: $fuenteTexto;
}

h6{
    color: $colorTitulo;
    font-family: $fuenteTexto;
    letter-spacing: 2px;

    @media only screen and (max-width: 992px) {

        h6{
            color: $colorListaUno;
            font-size: 3vw;
            font-family: $fuenteTexto;
            letter-spacing: 2px;
        }
    
    }
}

p{
    color: rgb(158, 151, 151);
    font-family: $fuenteTexto;

}

// CUERPO DE PAGINAS GENERAL //

body {
    margin: 0%;
    padding: 0%;
    background: rgb(46,16,42);
    background: radial-gradient(circle, rgba(46,16,42,1) 0%, rgba(16,15,17,1) 100%);

    .header{
        width: 100%;
        height: 92vh;
        text-align: right;
        position: relative;

        &__home--modifier{
            @extend .header__home;
            padding: 0 10vw 0 10vw;
        }
        
        &__home{
            text-align: center;
            margin-top: 25vh;
        }
    }
    
    header{
        background-image: url(https://wallpaperaccess.com/full/2801183.jpg);
        width: 100%;
        height: 45vh;
        text-align: right;
        position: relative;
        
        nav{
            background-color: rgb(26, 13, 24);
            width: 100%;
            height: 15vh;

            .container-fluid{
                width: 100%;
                padding: 10px;
                background-color: #212529;
            }
        }

        #encabezado{
            text-align: center;
            margin-top: 15vh;
            padding: 0 10vw 0 10vw;
        }
    }

    section{
        text-align: center;
        padding: 10px 20px;

        .indice-conteiner{
            padding: 15px 20px;
            text-align: center;

            .indice{
                list-style: none;
                padding: 0%;
    
                li{
                    @extend .indice;
    
                    .indice__link:link, .indice__link:visited{
                        font-family: $fuenteTitulo;
                        color: $colorTitulo;
                        font-size: 17px;
                        letter-spacing: 1.5px;
                        text-decoration: none;
                    }
                }
            }
        }

        .informacion{
            text-align: center;

            &__article{
                padding: $paddingArticle;
                text-align: center;

                @media only screen and (max-width: 992px){
                    padding: 10px;
                }
            }

            &__article--modifier{
                padding: $paddingArticle;
                text-align: center;

                @media only screen and (max-width: 992px){
                    padding: 10px;
                }


                .table{
                    thead{
                        tr{
                            th{
                                color: $colorListaUno;
                            }
                        }
                    }

                    tbody{
                        tr{
                            th{
                                @include estiloTabla(rgb(196, 188, 152))
                            }
                            
                            td{
                                @include estiloTabla(rgb(191, 150, 211))
                            }
                        }
                    }

                }
            }
        }

        .libros{
            .flex-conteiner{
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                justify-content: space-around;

                .flex-item{
                    width: 33em;
                }
            }

            &__img{
                width: 170px;
                padding: 10px 0px;
            }

            .lista{
                @extend .indice;
                list-style: none;
                padding: 0%;

                &__uno{
                    color: $colorListaUno;
                }

                &__dos{
                    color: $colorListaDos;
                }
            }
        }

        .juego{
            text-align: left;

            &__article{
                display: grid;
                grid-template-rows: .20fr .75fr 1fr .5fr;
                grid-template-columns: 1fr 1fr;
                
                @media only screen and (max-width: 992px){
                    grid-template-rows: .20fr .25fr .25fr .25fr;
                }
                
                .juego__article-uno{
                    grid-column: 1 / 3;
                    text-align: center;
                }

                .juego__article-dos{
                    grid-column: 1 / 2;
                    grid-row: 2 / 3;
                    padding: 10px 0 0 50px;

                    @media only screen and (max-width: 992px){
                        grid-column: 1 / 3;
                        text-align: center;
                        padding: 10px 0 0 0;

                    }
                }

                .juego__article-tres{
                    grid-column: 2 / 3;
                    grid-row: 3 / 4;
                    text-align: right;
                    padding-right: 50px;

                    @media only screen and (max-width: 992px){
                        grid-column: 1 / 3;
                        text-align: center;
                        padding: 10px 0 0 0;
                    }
                }

                .juego__article-cuatro{
                    grid-column: 1 / 2;
                    grid-row: 4 / 5;
                    padding-left: 50px;

                    @media only screen and (max-width: 992px){
                        grid-column: 1 / 3;
                        text-align: center;
                        padding: 10px 0 0 0;
                    }
                }
            
            }

        }

        .fanArt{
            display: flex;
            text-align: center;
            justify-content: center;


            p{
                padding: 30px;
            }
        }

        .carousel{
            width: 60%;
            margin: 0 20% 0 20%;

            @media only screen and (max-width: 992px){
                width: 100%;
                margin: 0px;
            }
        }

    }

    .grid-conteiner{
        background-color: #212529;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 5vh 5vh 5vh;
        height: 15vh;

        .grid-item1{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        .grid-item2{
            grid-column: 3 / 4;
            grid-row: 2 / 3;

            @media only screen and (max-width: 992px){
                b{
                    display: none;
                }
            }
            

            a{
                color: $colorListaUno;
                margin: 0 5px 0 5px;

                @media only screen and (max-width: 992px){
                    margin: 0 2px 0 2px;
                }
            }
        }

        .grid-item3{
            grid-column: 2 / 3;
            grid-row: 1 / 2;

            @media only screen and (max-width: 992px){
                margin-top: 3px;
            }

            i:hover{
                border-bottom: solid 2px $colorListaDos;
            }

            a:link, a:visited{
                color: $colorListaDos;
                font-family: $fuenteTexto;
                font-size: 17px;
                text-decoration: none;
            }
        }


    }
}

